// variables here:
/*Grid line*/
$line_half: 24px;
$line_height: $line_half*2+2;
$hover_border: 2px;


//end of variables
/*---Common---*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    font-family: Calibri, Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: #ffffff;
}
a {
    color: #5d94f2;
}
a:link, a:visited, a:active {
    text-decoration: underline;
}
a:hover {
    color: #640000;
    text-decoration: underline;
}
h1 {
    font-size: 1.4em;
    font-weight: normal;
    margin: 25px 0 25px 20px;
    text-align: justify;
}
h2 {
    font-size: 1.3em;
    margin: 15px 0 15px 0;
    text-align: justify;
}
h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 10px 0;
    text-align: justify;
}
p {
    font-size: 1.1em;
    margin: 10px 0 10px 0;
    text-align: justify;
}
ul, ol {
    font-size: 1em;
    margin: 0 0 0 30px;
    text-align: left;
}
/*--------------*/
.site-name {
    font-weight: bold;
    color: white;
    font-size: 1.6em;
}
.active-user {
    font-weight: bold;
    color: white;
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 20px;
}
.panel-container {
    background-color: lavender;
}
/*панели*/
.panel-find {
    text-align: left;
}
.full-search {
    display: none;
}
.quck-search {
    display: inline-block;
    vertical-align: top;
    height: 32px;
    width: 70%;
    margin: 2px 0 10px 0;
}
.quck-search input {
    height: 32px;
    width: 100%;
    font-size: 1.2em;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}
.show-full-search {
    display: inline-block;
    vertical-align: top;
    height: 32px;
    width: 32px;
    margin: 2px 0 10px 10px;
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 6px;
}
.search-submit {
    display: inline-block;
    vertical-align: top;
    height: 32px;
    width: 32px;
    margin: 2px 0 10px 10px;
}
.search-submit input {
    height: 32px;
    width: 32px;
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 6px;
}
.show-full-search:hover, .search-submit input:hover {
    border-color: grey;
    background-color: #c8c8dc;
    cursor: pointer;
}
.panel-add {
    text-align: left;
}
.full-add {
    display: none;
}
.quick-add {
    display: inline-block;
    vertical-align: top;
    height: 32px;
    width: 70%;
    margin: 2px 0 10px 0;
}
.quick-add input {
    height: 32px;
    width: 100%;
    font-size: 1.2em;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}
.show-full-add {
    display: inline-block;
    vertical-align: top;
    height: 32px;
    width: 32px;
    margin: 2px 0 10px 10px;
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 6px;
}
.add-submit {
    display: inline-block;
    vertical-align: top;
    height: 32px;
    width: 32px;
    margin: 2px 0 10px 10px;
}
.add-submit input {
    height: 32px;
    width: 32px;
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 6px;
}
.show-full-add:hover, .add-submit input:hover {
    border-color: grey;
    background-color: #c8c8dc;
    cursor: pointer;
}
.message-add {
    background-color: lavender;
    padding-top: 10px;
}
.add-text {
    display: block;
    vertical-align: top;
    text-align: center;
    height: 32px;
    width: 100%;
    margin-bottom: 10px;
}
.full-message {
    display: inline-block;
    width: 100%;
}
.full-message label {
    font-weight: bold;
}
#personal-message {
    cursor: pointer;
    margin-left: 10px;
    width: 24px;
    height: 24px;
}
.full-message label[for="personal-message"] {
    cursor: pointer;
}
.full-message select {
    height: 24px;
    font-size: 1em;
    background-color: white;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 6px;
}
.new-message {
    height: 32px;
    width: 90%;
    margin: 0 auto;
    font-size: 1.2em;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}
.message-submit {
    float: right;
    vertical-align: top;
    height: 32px;
    width: 32px;
    margin: 2px 10px 10px 10px;
}
.message-submit input {
    height: 32px;
    width: 32px;
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 6px;
}
.message-submit input:hover {
    border-color: grey;
    background-color: #c8c8dc;
    cursor: pointer;
}
/*настройка выпадашки*/
.mt-menu {
    background-color: white;
    padding: 10px;
}
.menu-btn {
    cursor: pointer;
}
/*настройка вида грида*/
.grid-line {
    height: $line_height;
    position: relative;
    width: 100%;
    padding-left: 20px;
    border-left-style: solid;
    border-left-width: $hover_border;
    border-left-color: transparent;
    border-top-style: solid;
    border-top-width: $hover_border;
    border-top-color: white;
    border-right-style: solid;
    border-right-width: $hover_border;
    border-right-color: white;
    border-bottom-style: solid;
    border-bottom-width: $hover_border;
    border-bottom-color: grey;
}
.grid-line:hover {
    cursor: pointer;
    border-top-style: outset;
    border-top-width: $hover_border;
    border-top-color: grey;
    border-right-style: outset;
    border-right-width: $hover_border;
    border-right-color: grey;
    border-bottom-style: outset;
    border-bottom-width: $hover_border;
    border-bottom-color: grey;
}
.grid-line[data-active="true"] {
    border-top-style: outset;
    border-top-width: 2px;
    border-top-color: transparent;
    border-bottom-style: outset;
    border-bottom-width: 2px;
    border-bottom-color: transparent;
    border-right-style: outset;
    border-right-width: 2px;
    border-right-color: transparent;
    box-shadow: inset 0 0 20px;
}
.archive-false {
    color: black;
}
.grid-line > div {
    height: $line_half;
    width: 95%;
}
.subj {
    width: 95%;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}
.archive-true {
    color: grey;
}
.overdue-false {
    color: red;
}
.overdue-true {
    color: red;
    text-transform: uppercase;
}
.clip, .envelope, .flag {
    float: right;
    height: $line_half;
    width: $line_half;
    margin-right: 10px;
    border-style: dashed;
    border-width: 1px;
    border-color: transparent;
}
.mark {
    position: relative;
}
.flag:hover, .envelope:hover, .clip:hover {
    border-color: blue;
}
.clip-false {
    background-position: center center;
    background-repeat: no-repeat;
}
.flag-false {
    background-position: center center;
    background-repeat: no-repeat;
}
.flag-true {
    background-position: center center;
    background-repeat: no-repeat;
}
.envelope span {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: white;
    height: 13px;
    width: auto;
    font-size: 12px;
    color: red;
    font-weight: bold;
    text-align: right;
    padding-left: 1px;
    padding-right: 1px;
    opacity: 0.8;
    border-radius: 2px;
}
.envelope-false {
    background-position: center center;
    background-repeat: no-repeat;
}
.envelope-true {
    background-position: center center;
    background-repeat: no-repeat;
}
.grid-line > span {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 15px;
}
.priority-low > span {
    background-color: lightskyblue;
}
.priority-normal > span {
    background-color: mediumseagreen;
}
.priority-high > span {
    background-color: gold;
}
.priority-urgent > span {
    background-color: orange;
}
.priority-extra > span {
    background-color: red;
}
.status-usual {
    background-color: white;
    text-decoration: none;
}
.status-rejected {
    background-color: lightpink;
    text-decoration: line-through;
}
.status-accepted {
    background-color: #CCFFFF;
    text-decoration: none;
}
.status-completed {
    background-color: #99FF99;
    text-decoration: none;
}
.status-confirmed {
    background-color: #99CCFF;
    text-decoration: none;
}
.cover {
    position: absolute;
    right: 0;
}
.read-true {
    font-weight: normal;
}
.read-false {
    font-weight: bold;
}
/*настройка тулбара*/
.toolbar > .more div:nth-of-type(1), .ruler > .more div:nth-of-type(1) {
    height: 40px;
    width: 40px;
    background-color: white;
    color: white;
    margin: 1px;
    background-repeat: no-repeat;
    background-position: center center;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 6px;
}
.toolbar > .more div:nth-of-type(1):hover, .ruler > .more div:nth-of-type(1):hover {
    height: 40px;
    width: 40px;
    background-color: #c8c8dc;
    color: #c8c8dc;
    margin: 1px;
    background-repeat: no-repeat;
    background-position: center center;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 6px;
}
.toolbar > .toolbar-button, .ruler > .toolbar-button {
    display: inline-block;
    padding: 15px 40px 5px 5px;
    margin: 1px;
    background-color: white;
    color: #323232;
    background-repeat: no-repeat;
    background-position: right center;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 6px;

}
.toolbar > .toolbar-button:hover {
    cursor: pointer;
    background-color: #c8c8dc;
    color: black;
    border-color: grey;
}
.more > .toolbar-button {
    display: block;
}
@media all and (max-width: 599px) {
    .toolbar > .toolbar-button > span, .ruler > .toolbar-button > span {
        display: none;
    }
    .toolbar > .toolbar-button, .ruler > .toolbar-button {
        height: 20px;
        background-position: center center;
    }
}
/*настройка вида переписки*/
.messages-list div {
    margin-bottom: 15px;
}
.messages-list div:hover {
    background-color: lavender;
}
.user-name {
    color: #5d94f2;
    text-decoration: underline;
}
.user-name:hover {
    cursor: pointer;
    color: #640000;
    text-decoration: underline;
}
.message {
    display: block;
    margin: 1px 1px 2px 5px;
}
.message[data-read="false"] {
    font-weight: bold;
}
.reply {
    display: inline-block;
    padding: 5px 10px;
    color: #5d94f2;
    text-decoration: underline;
}
.reply:hover {
    cursor: pointer;
    background-color: #5d94f2;
    color: white;
    text-decoration: none;
}
/*настройка вида вкладки*/
.tab-bar {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
}
.tab-bar ul {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
}
.tab-bar li {
    display: inline-block;
    width: 10%;
    margin: 0 1% 0 1%;
    padding: 15px 1% 15px 1%;
    background-position: 5% 50%;
    background-repeat: no-repeat;
    background-color: none;
    vertical-align: bottom;
    border-style: solid;
    border-radius: 10px 10px 0 0;
    border-color: lightgray;
    border-width: 1px;
    border-bottom-color: black;
    position: relative;
    bottom: -1px;
}
.tab-bar li:hover {
    cursor: pointer;
    border-color: black;
    border-bottom-color: transparent;
}
.tab-bar li[tab-active="true"] {
    background-color: lavender;
    border-color: black;
    border-bottom-color: lavender;
}
.tab-bar li[tab-active="true"]:hover {
    cursor: default;
}
@media all and (max-width: 899px) {
    .tab-name {
        display: none;
    }
    .tab-bar li {
        background-position: center center;
    }
}
.main-footer {
    background: #5d94f2;
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 10px;
}
.main-placeholder {
    background: violet;
}
.main-caption {
    background: black;
}
.tabs {
    background: orange;
}
.toolbar {
    height: auto;
    background-color: lavender;
    padding-top: 10px;
    padding-bottom: 10px;
}
.search {
    height: auto;
    background: cyan;
}
.add {
    height: auto;
    background: magenta;
}
/*Настройка адаптивки грида*/
.grid-box {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    overflow: inherit;
}
.record-box {
    display: none;
    width: 95%;
    vertical-align: top;
    background-color: lavender;
}
.message-call {
    display: none;
    width: 3%;
    vertical-align: top;
    position: relative;
}
.message-call img {
    position: absolute;
    top: 50%;
}
.message-remove {
    display: none;
    width: 3%;
    vertical-align: top;
    position: relative;
}
.message-remove:hover, .message-call:hover {
    cursor: pointer;
}
.message-remove img {
    position: absolute;
    top: 50%;
}
.message-box {
    display: none;
    width: 95%;
    vertical-align: top;
    background-color: white;
}
.block-caption {
    text-align: center;
    font-weight: bold;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #5d94f2;
}
.record-close, .message-close {
    float: right;
    width: 26px;
    height: 26px;
    background-position: center center;
    background-repeat: no-repeat;
}
.record-close:hover, .message-close:hover {
    cursor: pointer;
}
@media ALL and (min-width:600px) {
    .grid-box {
        width: 50%;
        overflow-x: hidden;
        overflow-y: auto; //почему размер пересчитывается?
    }
    .record-box {
        display: inline-block;
        width: 45%;
    }
    .message-call {
        display: inline-block;
        width: 3%;
    }
    .message-remove {
        display: none;
        width: 3%;
    }
    .message-box {
        display: none;
        width: 45%;
    }
    .record-close {
        display: none;
    }
    .messages-list {
        overflow-y: auto;
    }
}
@media ALL and (min-width:900px) {
    .grid-box {
        width: 30%;
    }
    .record-box {
        width: 35%;
    }
    .message-call {
        display: none;
    }
    .message-remove {
        display: none;
    }
    .message-box {
        display: inline-block;
        width: 30%;
    }
    .message-close {
        display: none;
    }
}