// variables here:


//end of variables
.site-name {
    font-weight: bold;
    color: white;
}
.active-user {
    font-weight: bold;
    color: white;
}
/*настройка выпадашки*/
.mt-menu {
    background-color: white;
    padding: 10px;
}
/*настройка вида вкладки*/
.tab-bar ul {
    width: 90%;
    margin: 0 auto;
}
.tab-bar li {
     display: inline-block;
     width: 10%;
     margin: 0 1% 0 1%;
     padding: 15px 1% 15px 1%;
          background-position: 5% 50%;
     background-repeat: no-repeat;
     background-color: grey;
     vertical-align: baseline;
}
@media all and (max-width: 799px) {
    .tab-name {
        display: none;
    }
    .tab-bar li {
        background-position: center center;
    }
}
.tab-bar ul li:nth-of-type(1) {
    background-image: url(/kickass/img/tab-all-active-24.png);
}
.tab-bar ul li:nth-of-type(2) {
    background-image: url(/kickass/img/tab-inbox-active-24.png);
}
.tab-bar ul li:nth-of-type(3) {
    background-image: url(/kickass/img/tab-outbox-active-24.png);
}
.tab-bar ul li:nth-of-type(4) {
    background-image: url(/kickass/img/tab-shared-active-24.png);
}
.tab-bar ul li:nth-of-type(5) {
    background-image: url(/kickass/img/tab-archive-active-24.png);
}
.tab-bar ul li:nth-of-type(6) {
    background-image: url(/kickass/img/tab-recycle-active-24.png);
}
.main-footer {
	background: red;
}
.main-placeholder {
	background: violet;
}
.main-caption {
	background: black;
}
.tabs {
	background: orange;
}
.toolbar {
	height: auto;
	background: orange;
}
.search {
	height: auto;
	background: cyan;
}
.add {
	height: auto;
	background: magenta;
}
/*Настройка адаптивки грида*/
.grid-box , .record-box , .message-call, .message-remove, .message-box {
	display: table-cell;
}
.grid-box {
    width: 100%;
    background-color: grey;
    vertical-align: top;
}
.record-box {
    display: none;
    background-color: yellow;
}
.message-call {
    vertical-align: top;
    display: none;
}
.message-remove {
    vertical-align: top;
    display: none;
}
.message-box {
    display: none;
    background-color: blue;
}
@media ALL and (min-width:600px) {
    .grid-box {
        width: 50%;
    }
    .record-box {
        display: table-cell;
        width: 45%;
    }
    .message-call {
        display: table-cell;
        width: 5%;
    }
    .message-box {
        display: none;
    }
}
@media ALL and (min-width:900px) {
    .grid-box {
        width: 30%;
    }
    .record-box {
        width: 40%;
        vertical-align: top;
    }
    .message-call {
        display: none;
    }
    .message-box {
        display: table-cell;
        width: 30%;
    }
}