@charset "UTF-8";
/*╨Т╤Б╤В╨░╨▓╨╕╤В╤М ╨╛╨▒╤А╨╡╨╖╨░╨╜╨╕╨╡ ╨┤╨╗╨╕╨╜╤Л ╤О╨╖╨╡╤А╨░ ╨▓ ╨▓╨╡╤А╤Е╨╜╨╡╨╝ ╨╝╨╡╨╜╤О*/
/*╨Х╤Б╨╗╨╕ more ╨╜╨░╨╢╨░╨╗, ╤В╨╛ ╨┐╤А╨╕ ╨║╨╗╨╕╨║╨╡ ╨▓ ╨╝╨╡╤Б╤Б╨░╨┤╨╢ ╨╝╨╡╨╜╤О ╨╜╨╡ ╤Б╨║╤А╤Л╨▓╨░╨╡╤В╤Б╤П*/
@import url(reset.css);
@import url(classic-black.css);
@import url(icons.css);
/*Main footer setting*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

.main-wrapper {
  min-height: 100%; }

* html .main-wrapper {
  height: 100%; }

/*Main structure section*/
.main-caption {
  text-align: left; }

.main-caption > div {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  margin-right: 10px; }

.apps-menu {
  display: inline-block; }

.mt-menu {
  position: absolute; }

.mt-menu li {
  display: block; }

.main-caption span {
  width: 100%;
  display: inline-block; }

.tabs-btn {
  display: inline-block; }

.tab-icons {
  display: inline-block;
  text-align: left; }

.tab-bar ul {
  text-align: center; }

#tabs {
  display: none; }

.tab-name div {
  display: none; }

.ruler {
  width: 100%;
  height: 0;
  overflow: hidden; }

.toolbar ul {
  width: 100%; }

.toolbar ul li {
  display: inline-block; }

.more {
  float: right; }

.panel-container {
  width: 100%;
  text-align: center; }

.panel-add {
  display: inline-block;
  width: 80%;
  margin: 0 1% 0 1%; }

.panel-find {
  display: inline-block;
  width: 80%;
  margin: 0 1% 0 1%; }

.tab-container {
  width: 100%; }

.message-box iframe {
  display: block; }

/*End of main structure*/
/*Responsible design section*/
/*---Basic resolution from 320 to 799---*/
.main-wrapper {
  margin-bottom: 0px; }

.main-placeholder {
  height: 0px; }

.main-footer {
  display: none; }

.main-caption {
  height: 40px;
  padding-top: 10px; }

.tabs {
  height: auto; }

.search {
  display: none; }

.add {
  display: none; }

/*---From 780---*/
@media screen and (min-width: 780px) {
  /*╨┐╨░╨╜╨╡╨╗╤М╨║╨╕ ╨▓ ╤А╤П╨┤*/
  .panel-add {
    display: inline-block;
    width: 40%;
    margin: 0 1% 0 1%; }

  .panel-find {
    display: inline-block;
    width: 40%;
    margin: 0 1% 0 1%; }

  /* Main footer ON */
  .main-wrapper {
    margin-bottom: -40px; }

  .main-placeholder {
    height: 40px; }

  .main-footer {
    display: block;
    min-height: 40px; }

  .footer-off {
    float: right; }

  /*End of Footer ON*/
  .search {
    display: block;
    height: auto; }

  .add {
    display: block;
    height: auto; } }
/*End of responsible design section*/
/*---OFF section---*/
/*Main footer OFF*/
/*
.main-wrapper {
    margin-bottom: 0px;
}
.main-placeholder {
        height: 0px;
}
.main-footer {
        display: none;
}
*/
/*End of footer OFF*/
/*menu section*/
.menu0, .menu1, .menu2, .menu3, .menu4, .menu5 {
  display: none; }

/*╨Я╨╛╨║╨░ ╨▒╨╡╨╖ ╨│╤А╤Г╨┐╨┐╤Л*/
.user-block {
  float: right; }

.main-menu {
  float: right; }

/*# sourceMappingURL=main.css.map */
